/*Note that the dimensions that I catered to were 
    mobile (width of 425px), 
    tablet (width of 768px) & 
    desktop (width of 1024px)
*/
header {
    background-color: transparent;
    height: 0%;
}
body {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    line-height: 2em;
    background-color: whitesmoke;
}
h1{
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}
h2 {
    font-size: larger;
    font-weight: bolder;
    line-height: 18px;
    letter-spacing: 0px;
    text-transform: uppercase;
}
/*Captions*/ 
    h4{
        font-size:12px;
        font-style: italic;
        line-height: 20px;
    }

/*Pull Quotes*/ 
    @media (min-width:0px) {
        h5{
            font-family: mrs-eaves, serif;
            font-style: italic;
            font-weight: 400;
            font-size: 18px;
            color: #f27175;
        }
    }
    @media (min-width:900px) {
        h5{
            font-size: 28px;
        }
    }

.inner {
   width: 75%;
   margin: 0 auto;
   margin-top: 100px;
   margin-bottom: 100px;
}
body, html {
    height: 100%;
}

/* Button Boxed */
    .button1 a{
        letter-spacing: 1px;
        color: whitesmoke;
        text-align: center;
        background-color: transparent;
        font-size:12px;
        text-decoration: none;
        border:solid;
        padding:10px;
        line-height: 13px;
    }

    .button1 a:hover {
        background-color: #f27175;
        color:white;
        border:none;
        transition: 0.1s ease-in-out;
    }

/*VIEW MORE BUTTON*/
    .abt-cbr .herocontent{
        padding: 0;
        padding-top: 6em;
        padding-bottom: 6em;
    }
    .abt-cbr label{
        margin-top: 10px;
        display: inline-block;
        font-style: italic;
    }
    .abt-cbr label:hover {
        color:whitesmoke;
        text-decoration:underline;
        text-decoration-thickness:5px;
        color:#f27175;
        text-decoration-color: #f27175;
        font-weight:lighter;
    }
    #view-more {
        display: none;
    }
    .hidden {
        display: none;
        transition: 0.5 linear;
    }
    #view-more:checked ~ .hidden {
        display: block;
    }
    #view-more:checked ~ label {
        visibility: hidden;
    }
    #view-more:checked ~ label:after {
        content: 'VIEW LESS';
        display: block;
        visibility: visible;
    }


/* Landing page paralax image */
    .hero {
        background-image: url("../images/event1.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


/* Responsive hero text */
    @media (min-width:0px) {
        .herocontent{
            width:55%;
            align-content: center;
            text-align: center;
            margin: 0 auto;
            padding: 6em;
            color:whitesmoke;
        }
        .herocontent h1{
            text-transform: none;
        }
        .herocontent .button1{
            margin-top: 10px;
        }
        .herocontent p{
            font-size: 10px;
            letter-spacing: 3px;
        }
        .herocontent img{
            height: 2em;
            position: absolute;
            bottom: 10px;
        }
        .herocontent .textbox{
            padding: 1em;
            transition: 0.3s ease-out;
        }
    }

    @media (min-width:900px) {
        .herocontent{
            width:40%;
        }
        .herocontent h1{
            font-size: 2rem;
            line-height:40px;
            margin-top: 9px;
        }
        .herocontent .textbox{
            padding: 3em;
        }
    }

/*MORE PARALXES*/
    /*Home Page*/
        .sec2 {
            margin-top: 100px;
            background-image: url(../images/people1.png);
            background-attachment: fixed;
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .sec2 .herocontent h1{
            color:white;
        }
    /*About Page*/
        #our-mission {
            background-image: url(../images/people1.png);
        }
        @media (min-width:0px) {
            .abt-cbr {
                margin-top: 100px;
                background-image: url(../images/img1.png);
                background-attachment: fixed;
                background-size:cover;
                background-repeat: no-repeat;
                background-position: center;
                color: whitesmoke;
            }
            .abt-cbr .herocontent p{
                font-size: 12px;
                letter-spacing: normal;
                margin-top: 1em;
            }
            #our-mission .herocontent .textbox {
                background-color: #7484c4;
            }
            #our-mission .herocontent h1{
                font-size: 13px;
                line-height: 25px;
                margin: 0 auto;
                padding: 1em;
            }
            #our-mission .herocontent p{
                font-size: 13px;
            }
        }
        @media (min-width:768px) {
            .abt-cbr .herocontent{
                width: 40%;
            }
            .abt-cbr .herocontent p{
                font-size: 18px;
            }
            #our-mission .herocontent h1{ 
                font-size: 25px;
                line-height: 30px;
                margin-top: 3px;
            }
        }

    /*Events Page*/
        @media (min-width:0px) {
            #next-event .herocontent {
                color: rgb(18, 18, 18);
            }
            #next-event .herocontent h4 {
                display: block;
            }
            #next-event .herocontent h2 {
                font-size: 12px;
            }
            #next-event .button1 a{
                background-color: #f27175;
                border: none;
            }
            #next-event .button1 a:hover{
                background-color: rgb(18, 18, 18);
                border: none;
            }
            #next-event .herocontent .textbox{
                background-color: #fce484;
            }
        }
        @media (min-width:768px) {
            #next-event .herocontent h4 {
                display: block;
                font-size: 16px;
            }
            #next-event .herocontent h2 {
                font-size: 18px;
            }
        }

    /*Buildings Page*/
    @media (min-width:0px) {
        #buildings {
            background-image: url(../images/build1.png);
        }
        #buildings .herocontent {
            color: whitesmoke
        }
        #buidings .herocontent h2 {
            font-size: 12px;
        }
        #buildings .button1 a{
            background-color: #f27175;
            border: none;
        }
        #buildings .herocontent .textbox{
            background-color: #eca484;
        }
        #buildings .herocontent h4 {
            display: block;
        }
        .inner .textbox {
            width: 50%;
            background-color: #eca484;
            padding: 1em;
            margin-top: 1em;
        }
    }
    @media (min-width:768px) {
        #buildings .herocontent h4 {
            display: block;
            font-size: 16px;
            margin-top: 2em;
        }
        #buildings .herocontent h2 {
            font-size: 18px;
        }
    }
     /*Members Page*/
     @media (min-width:0px) {
        #stars-of-cm {
            background-image: url(../images/people2.png);
        }
        #stars-of-cm .textbox{
            background-color: #f27175;
        }
        #stars-of-cm .two-btn{
            display: flex;
            margin-top: 5em;
            justify-content: center;
            gap: 1em;
            
        }
        #stars-of-cm .button1 a:hover{
            background-color: rgb(18, 18, 18);
            color: #f27175;
        }
        #stars-of-cm #sign-up a{
            background-color: whitesmoke;
            color: #f27175;
        }
        #stars-of-cm #sign-up a:hover{
            background-color: rgb(18, 18, 18);
            color: #f27175;
        }
     }


/* Responsive navbar*/
        nav {
            height:6em;
            position: relative;
            box-sizing: border-box;
            background-color: transparent;
            background-size: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
            width: 95%;
            margin: 0 auto;
            transition: .5s ease;
        }
        
        #logo_hover:hover {
            content:url("../images/canberra\ modern\ FILL\ W.png");
        }
        .menu li {
            display: inline;
            margin-right: 0.2em;
        }
        .menu li a {
            color:whitesmoke;
            text-decoration: none;
            background: transparent;
            padding: 0.5em;
        }
        .menu li:hover a {
            color:whitesmoke;
            text-decoration:underline;
            text-decoration-thickness:5px;
            text-decoration-color: #f27175;
            font-weight:lighter;
            padding: 0.5em;
        }
        .menu{
            transition: max-height .5s ease-out;
        }
        .menu-btn{
            cursor: pointer;
            float: right;
            right: 0;
            padding: 3em;
        }
        .menu-line {
            background: whitesmoke;
            display: block;
            height: 2px;
            position: relative;
            width: 24px;
        }
        .menu-line::before,
        .menu-line::after{
            background:whitesmoke;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }
        .menu-line::before{
            top: 5px;
        }
        .menu-line::after{
            top: -5px;
        }
        .side-menu {
            display: none;
        }
        

        /*Hamburger turns to "X"*/
            .side-menu:checked ~ nav{
                max-height: 100%;
            }
            .side-menu:checked ~ .menu-btn .menu-line {
                background: transparent;
            }
            .side-menu:checked ~ .menu-btn .menu-line::before {
                transform: rotate(-45deg);
                top:0;
            }
            .side-menu:checked ~ .menu-btn .menu-line::after {
                transform: rotate(45deg);
                top:0;
            }
            @media (min-width:900px) {
                .menu-btn{
                    display: none;
                }
            }

        @media (max-width:900px) {
            nav .logo img {
                width: 15em;
                display: inline-block;
            }
            nav .menu-btn{
                display: block;
                z-index: 100;
                position: fixed;
              }
            #click:checked ~ .menu-btn:before{
                content: "\f00d";
            }
            .menucontainer{
                position: fixed;
                top: 0px;
                left: -100%;
                background: rgb(18,18,18);
                height: 100%;
                padding-top: 200px;
                width: 100%;
                text-align: center;
                display: block;
                z-index: 80;
            }
            .side-menu:checked ~ .menucontainer{
                left: 0;
            }
            .menu li{
                width: 100%;
                margin: 40px 0;
            }
            nav ul li a{
                width: 100%;
                margin-left: 0%;
                display: block;
                font-size: 12px;
                transition: 0.6s ease;
            }
            #click:checked ~ ul li a{
                margin-left: 0px;
            }
            .menu a:active{
                background: none;
                color: #f27175;
            }
            .menu .button1 {
                display: none;
            }
            .menu .nav-hidden{
                display: block;
            }
        }

        @media (min-width:900px) {
            .menu .nav-hidden {
                display: none;
            }
            nav .logo img {
                width: 20em;
                display: inline-block;
            }
        }
        


/*Responsive Text*/
    @media (min-width:0px) {
        p {
            font-size: 12px;
            line-height: normal;
        }
        h3 {
            font-size: 12px;
        }
    }

    @media (min-width:601px) {
        p{
            font-size: 15px;
        }
        h3{
            font-size: normal;
        }
    }


 /*Responsive Sec 1*/
    @media (min-width:0px) {
        .sec1 {
            align-content: center;
            text-align: center;
            margin: 0 auto;
        }
        .sec1 p{
            background-color: whitesmoke;
            height: 10em;
            font-size:12px;
            width: 40%;
            margin: 0 auto;
            margin-top: 2em;
            margin-bottom: 3em;
            line-height:12px;
        }
        .sec1 .button1 a{
            color:rgb(18, 18, 18);
        }
    }

    @media (min-width:768px) {
        .sec1 p{
            font-size:18px;
            width: 50%;
            line-height:20px;
            margin-bottom:1em;
        }
    }

    @media (min-width:1024px) {
        .sec1 p{
            font-size:1.5em;
            line-height:32px;
            margin-bottom:.5em;
        }
    }

.sec1 b{
    font-weight: bolder;
    color: #f27175;
}

/* CSS Grid */
    @media (min-width:0px) {
        .gallery {
            display: grid;
            grid-template-columns: 50% 50%;
            gap: .5em;
            padding: .5em .5em;
        }
            .gallery1 {
                background-image: url("../images/p.event1.png");
                background-size: cover;
            }
            .gallery2 {
                background-image: url("../images/p.event2.png");
                background-size: cover;
            }
            .gallery3 {
                background-image: url("../images/p.event3.png");
                background-size: cover;
            }
            .gallery4 {
                background-image: url("../images/p.event4.jpeg");
                background-size: cover;
            }
            .gallery5 {
                background-image: url("../images/p.event5.png");
                background-size: cover;
            }
            .gallery5 {
                background-image: url("../images/p.event5.png");
                background-size: cover;
            }
            .gallery6 {
                background-image: url("../images/p.event6.jpeg");
                background-size: cover;
            }
            .gallery7 {
                background-image: url("../images/p.event7.png");
                background-size: cover;
            }
            .gallery8 {
                background-image: url("../images/p.event8.png");
                background-size: cover;
            }
        .gallery div {
            height:15em;
            display: flex;
            align-items: center;
            justify-content: center;
            filter:grayscale(100);
        }
        .gallery div:hover {
            filter: grayscale(0)
        }
        .gallery h3 {
            color: white;
            text-align: center;
            display: block;
            background-color: #f27175;
            padding:.5em;
            width: 80%;
        }
        .inner .button1 a{
            color:rgb(18, 18, 18);
            display: flex;
            float: left;
            padding: 5px 10px;
        }
        .events-grid div.button1 {
            padding-left: 0;
        }
    }
    @media (min-width:768px) {
        .gallery {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            gap: .5em;
            padding: .5em .5em;
        }
        .gallery div {
            filter:grayscale(100);
        }
    }
    @media (min-width:1024px) {
        .gallery h3 {
            color: white;
            text-align: center;
            display: none;
            background-color: #f27175;
            padding:.5em;
            width: 80%;
        }
        .gallery div:hover h3 {
            display: block;
        }
    }

/*Three column grid*/
    @media (min-width:0px) {
        .three-column {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2em;
            margin-top: 3em;
        }
        .three-column h1{
            margin-top: 2em;
        }
        .three-column div {
            align-items: center;
            justify-content: center;
        }
        .three-column .edwina .img {
            background-image: url(../images/edwina.jpeg);
            background-size: cover;
            height:10em;
            padding:5em;
        }
        .three-column .amy .img {
            background-image: url(../images/amy.jpeg);
            background-size: cover;
            height:10em;
            padding:5em;
        }
        .three-column .rachel .img {
            background-image: url(../images/rachel.png);
            background-size: cover;
            background-repeat: none;
            height:10em;
            padding:5em;
        }

        .past .three-column{
            row-gap: 5em;
        }
        .past .three-column div{
            height: 15em;
            background-size: cover;
            align-items: center;
            justify-content: center;
        }
        .past .three-column .yrtext{
            text-align: center;
            color: rgb(18, 18, 18);
            margin-top: 5px;
        }
        .past .three-column .img{
            filter: grayscale(100);
        }
        .past .three-column .img:hover{
            filter: grayscale(0);
        }
            .past .three-column .year22 .img{
                background-image: url(../images/p.event1.png);
            }
            .past .three-column .year21 .img{
                background-image: url(../images/p.event8.png);
            }
            .past .three-column .year20 .img {
                background-image: url(../images/2020.1.jpeg);
            }
            .past .three-column .year19 .img{
                background-image: url(../images/2019.1.png);
            }
            .past .three-column .year18 .img {
                background-image: url(../images/2018.1.jpeg);
            }
            .past .three-column .year17 .img{
                background-image: url(../images/2017.1.jpeg);
            }

    }
    @media (min-width:768px) {
        .three-column {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2em;
            margin-top: 3em;
        }
    }
/*Two-column Grid*/
    @media (min-width:0px) {
        .two-column {
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 2em;
        }   
        .two-column div {
            display: flex;
            padding: .5em;
        }
        .two-column .column-head {
            justify-content: right;
            top:0;
            text-align: right;
            color: #7484c4;
            display:inline;
        }
        .two-column .patron-content{
        display: inline;
        }
        .two-column .patron-content .button1 {
            left:0;
            padding:0px;
            margin-top: 2em;
        }
        .two-column .patron-content .button1:hover {
            color: whitesmoke;
        }
        .two-column ul li a{
            text-decoration: none;
            color: rgb(18, 18, 18);
        }
        .two-column ul li a:hover{
            text-decoration: none;
            color:#f27175;
        }
    }
    @media (min-width:768px) {
        .two-column .patron-content p{
            column-count: 2;
            column-gap: 3em;
        }
    }

/*Four-column Grid*/ 
    @media (min-width:0px) {
        .events-grid {
            display: grid;
            grid-template-columns: 50% 50%;
            gap: .5em;
            margin-top: 2em;
        }
        .events-grid div {
            align-items: center;
            justify-content: center;
            padding: 0.5em;
            height: 15em;
            background-size: cover;
        }
        .events-grid div p {
            display: none;
        }
        .events-grid div h2{
            line-height: 18px;
            font-size: 14px;
        }
        .events-grid .n-event1 {
            background-image: url(../images/n.event1.png);
            background-repeat: none;
        }
        .events-grid .n-event2 {
            background-image: url(../images/n.event2.jpeg);
        }
        .events-grid .n-event3 {
            background-image: url(../images/n.event3.png);
        }
        .events .button1 {
            position: absolute;
            bottom: 10px;
        }
        #buildings-content div {
            height: 10em;
        }
        .events-grid #at-risk {
            background-color: #eca484;
        }
        #buildings-content div p{
            display: block;
        }
        /*Building Images*/
            .events-grid .build-1 {
                background-image: url(../images/build1.png);
            }
            .events-grid .build-2 {
                background-image: url(../images/build2.jpeg);
            }
            .events-grid .build-3 {
                background-image: url(../images/build3.jpeg);
            }
            .events-grid .build-4 {
                background-image: url(../images/build4.jpg);
            }
            .events-grid .build-5 {
                background-image: url(../images/build5.jpeg);
            }
            .events-grid .build-6 {
                background-image: url(../images/build6.jpeg);
            }
            .events-grid .build-7 {
                background-image: url(../images/build7.jpeg);
            }
            .events-grid .build-8 {
                background-image: url(../images/build8.jpeg);
            }
            .events-grid .build-9 {
                background-image: url(../images/build9.jpeg);
            }
            .events-grid .build-10 {
                background-image: url(../images/build10.jpeg);
            }
            .events-grid .build-11 {
                background-image: url(../images/build11.jpeg);
            }
            .events-grid .build-12 {
                background-image: url(../images/build12.jpeg);
            }
            .events-grid .build-13 {
                background-image: url(../images/build13.jpeg);
            }
            .events-grid .build-14 {
                background-image: url(../images/build14.jpeg);
            }
            .events-grid .build-15 {
                background-image: url(../images/build15.jpeg);
            }
            .events-grid .build-16 {
                background-image: url(../images/build16.jpeg);
            }
            .events-grid .build-17 {
                background-image: url(../images/build17.jpeg);
            }
            .events-grid .build-18 {
                background-image: url(../images/build18.jpeg);
            }
            .events-grid .build-19 {
                background-image: url(../images/build19.jpeg);
            }
            .events-grid .build-20 {
                background-image: url(../images/build20.jpeg);
            }
        /*Stars of CM Images*/
            .events-grid .story1 {
                background-image: url(../images/build6.jpeg);
            }
            .events-grid .story2 {
                background-image: url(../images/build13.jpeg);
            }
            .events-grid .story3 {
                background-image: url(../images/build20.jpeg);
            }
    }
    
    @media (min-width:900px) {
        .events-grid {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2em;
            margin-top: 3em;
        }
        .events-grid div h2{
            font-size: 18px;
        }
        .events-grid div p {
            display: block;
        }
        .events-grid .n-event1 {
            background-image: url(../images/n.event1.png);
            background-size: cover;
            background-repeat: none;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .events-grid .n-event1text {
            grid-column-start: 3;
            grid-column-end: 5;
        }
        .events-grid .story1 {
            background-size: cover;
            background-repeat: none;
            grid-column-start: 1;
            grid-column-end: 3;;
        }
    }

/*Responsive Footer*/
    @media (min-width:768px) {
        footer {
            background-color: rgb(18, 18, 18);
            background-size: cover;
            color: whitesmoke;
            display: grid;
            grid-template-columns: 50% 12% 18% 8% 10%;
            gap:.5em;
            padding: .5em .5em;
            font-size: 12px;
            font-weight: bold;
        }
        footer p{
            font-weight: normal;
            font-size: 10px;
        }
        footer img {
            height:3em;
        }
        footer div ul li a {
            display: inline;
            color:whitesmoke;
            text-decoration: none;
            background: transparent;
            font-weight: normal;
        }
        footer div ul li a:hover {
            display: inline;
            color:#7484c4
        }
        footer .footer_img {
            background-image: url("../images/civic\ pool.png");
            background-size: cover;
            background-repeat: none;
        }
    }

    @media (max-width:1024px){
        footer .footer_img {
            display: none;
        }
    }

    @media (min-width:0px){
        footer {
            background-color: rgb(18, 18, 18);
            background-size: cover;
            color: whitesmoke;
            padding:5em;
            left:2em;
            font-size: 12px;
            font-weight: bold;
        }
        footer img {
            height:3em;
        }
        footer a {
            color:whitesmoke;
            text-decoration: none;
            background: transparent;
            padding: 0.5em;
            font-weight: normal;
        }
    }